<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Received invoices</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/suppliers/">Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/received-invoices/">Received invoices</a>
      </li>
  </div>
</nav>
<div class="container">
    <h1>Received invoices</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add received invoice</h5>
            <form enctype="multipart/form-data" action="/received-invoices/" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary float-right" value="Submit">
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Supplier</th>
            <th scope="col">Invoice number</th>
            <th scope="col">Issue date</th>
            <th scope="col">Total amount</th>
            <th scope="col">File name</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in received_invoices %}
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.supplier.name }}</td>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.issue_date }}</td>
            <td>{{ invoice.total_amount }}</td>
            <td>{{ invoice.file.name }}</td>
            <td><a href="/received-invoices/{{ invoice.id }}/">More</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>